body{
    z-index: 9999;
    text-decoration: none;
    a{
      text-decoration: none;
    }
}

// scrollbar custom 
body::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: $bg;
    background-clip: content-box; 
  }

  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: $title_color;
    height: 120px;
  }

// animation loader remplacer le display none par display flex

.loading {
  background: $bg-animation;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1; 
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: loading-disparition 1500ms 2.2s ease-in forwards; 
  img{
      margin-bottom: 1%;
      margin-top: -15%;
  }
}

.loading__pictos {
  width: 45%;
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
}

.fa-ice-cream {
  animation: mvtfood 1.5s 50ms ease-in;
  color: $bg;

}

.fa-hamburger {
  animation: mvtfood 1.5s 180ms ease-in;
    color: $bg;
}

.fa-carrot {
  animation: mvtfood 1.5s 300ms ease-in;
  color: $bg;
}

// header

.index__header{
    background-color: $bg;
    width: 100%;
    height: 95vh;
    clip-path: polygon(100% 0, 100% 100%, 90% 90%, 10% 90%, 0 100%, 0 0);

    // nav
    h1{
        font-size: 2.3em;
        color: $title_color;
        font-family: $title;
        padding-bottom: 3px;
    }
   nav{
       width: 100%;
       align-items: center;
       margin: 0 auto;
       padding: 20px;
   }
   ul{
       display: flex;
       align-items: center;
       justify-content: space-around;
   }
   ul li a{
       text-decoration: none;
       color: $blanc;
       padding-right: 30px;
       font-family: $text;
       font-weight: 600;
       &:hover, &:focus, &:target, &::selection, &:active{
           color: $title_color;
    }
    // information
   }
   .index__header__information{
    margin: 8% auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        text-transform: uppercase;
        font-family: $text;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
    }
    .button{
        width: 50%;
        margin: 9% auto;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{
            text-decoration: none;
            color: $blanc;
            font-size: 1.5em;
            background-color: $title_color;
            padding: 5px 30px;
            border-radius: 5px;
        }
    }
}
}
// index section cartes
.index__title__grid{
  width: 100%;
  text-align: center;
  margin-top: -2%;
  h1{
    color: $title_color;
    font-family: $title;
    font-size: 2em;
  }
}
.index__section__grid{
  width: 50%;
  gap: 30px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3% auto;
}

.index__items{
  width: 100%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  height: auto;
  border-radius: 6px;
  background-color:$bg;
  display: flex;
  flex-direction: column;
  img{
    object-fit: cover;
    width: 100%;
    height: min-content;
  }
  h1{
    padding: 10px;
    text-align: center;
    font-size: 1.8em;
    color: $title_color;
    font-family: $title;
  }
  p{
    padding: 18px;
    text-align: left;
    height: 100%;
    font-family: $text;

  }
}

// INDEX MENU 
.index__section__menu{
  display: flex;
  background-color: $bg;
  width: 100%;
  height: 95vh;
  clip-path: polygon(90% 10%, 100% 0, 100% 100%, 0 100%, 0 0, 10% 10%);
  // clip-path: polygon(100% 0, 100% 100%, 90% 90%, 10% 90%, 0 100%, 0 0);
  .menu__container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    background-color:$bg;
    align-items: center;
    h1{
      padding: 10px;
      margin-top: 12%;
      text-align: center;
      font-size: 1.8em;
      color: $title_color;
      font-family: $title;
    }
   h3{
      padding: 10px;
      margin-top: 2%;
      text-align: center;
      width: 75%;
      font-size: 1.5em;
      color: $beige;
      font-family: $title;
    }
    .menu{
      margin-top: 5%;
      margin-bottom: 15%;
      -ms-overflow-style: none; 
      scrollbar-width: none;  
      width: 80%;
      height: 100vw;
      overflow-y: scroll;
      border: 2px solid $bg-animation;
      border-radius: 6px;
      &::-webkit-scrollbar {
        display: none;
      }
      
      &::-webkit-scrollbar-track {
        display: none;
      }
    
      &::-webkit-scrollbar-thumb {
        display: none;
      }
      .Entree, .Viandes, .Pate, .Sauces, .Accompagnements, .Burger, .midi, .Dessert, .Cocktails, .Boissons, .Enfant{
        width: 100%;
        height: auto;
        h1{
          text-align: center;
          margin: 0 auto;
          margin-top: 0;
          font-size: 2em;
          color: $title_color;
          font-family: $title;
          width: 100%;
          height: auto;
          margin-top: 3%;
        }
      }
    }
  }
}
.midi{
  h2{
    text-align: center;
    margin: 0 auto;
    font-size: 1.3em;
    color: $title_color;
    font-family: $title;
  }
}



.item_annexe1{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item_annexe2{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.subtitle{
  margin-top: 1%;
  font-size: 1em;
  margin-left: 11%;
  width: 50%;
  font-family: $text;
  color: $beige;
}
.plat_prix{
  margin-top: 1%;
  font-size: 1.3em;
  font-family: $text;
  color: $beige;
}

.item{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: max-content;
  margin: 4% auto;
  padding-bottom: 8px;
  border: 2px solid $title_color;
  border-radius: 6px;
  z-index: 0;

  h2{
    font-size: 1.8em;
    margin-left: 10%;
    font-family: $title;
    color: $beige;
  }
  p{
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    font-family: $text;
    color: $beige;
  }
}


// étiquettes item menu 

.ribbon-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  top: -3px;
  left: -3px;
  z-index: 1;
  .ribbon {
    font-size: $title;
    font-weight: 600;
    z-index: 1;
    font-size: 1.3em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 13px;
    left: -30px;
    width: 120px;
    background-color: $bg-animation;
    color: $blanc;
  }
}

// FOOTER

footer{
  width: 100%;
  height: auto;
  background-color: $bg-animation;
  .footer__container{
    margin-top: 1%;
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    border-radius: 0px 0px 10px 10px;
    background-color: transparent;
    border: 2px solid $beige;
    border-top: none;
  }
  .horraire__container{
    width: 50%;
    height: auto;
    h1{
      text-align: center;
      margin-top: 0;
      font-size: 1.7em;
      padding: 15px;
      color: $beige;
      font-family: $title;
    }
    p{
      text-align: center;
      margin-top: 0;
      padding: 5px;
      font-size: 1.2em;
      color: $beige;
      font-family: $text;
    }
  }
  .coppyright__container{
    width: 50%;
    height: auto;
    h1{
      text-align: center;
      margin-top: 0;
      font-size: 1.7em;
      padding: 15px;
      color: $beige;
      font-family: $title;
    }
    ul{
      display: flex;
      justify-content: center;
      margin-top: 10%;
    }
    li{
      margin-left: 8%;
    }
    a{
      color: $beige;
      font-size: 1.5em;
    }
  }
}

.sub__footer{
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 50px;
  .element__container{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  h1{
    color: $beige;
    font-size: 1.1em;
  }
  i{
    color: red;
    padding-right: 6px;
    padding-left: 6px;
  }
  a{
    text-decoration: none;
    color: $beige;
  }
}